.footer__row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer__anchor {
  margin-bottom: 20px;
  position: relative;
}

.footer__logo--img {
  width: 5rem;
}

.footer__logo--popper {
}

.footer__social--list {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
  margin: 28px 0;
}

.footer__social--link {
    color: white;
}
