.hero {
  height: calc(100vh - 80px);
}

.hero__frame {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 80px;
  max-height: 675px;
  height: 100%;
  background: url("../public/herobg.jpeg") no-repeat top center/cover;
}

.hero__frame--h1 {
  color: #efefef;
  text-align: center;
  font-size: 2.1em;
  font-weight: 200;
  margin-top: 24px;
}

.hero__buttons {
  display: flex;
  justify-content: center;
}

.hero__buttons--learn,
.hero__buttons--signup {
  margin: 15px 10px;
  padding: 15px 55px;
  font-size: 24px;
  font-weight: 300;
  border: 2px solid white;
  border-radius: 99px;
  background: rgb(0, 0, 0, 0.65);
  color: white;
  transition: all 0.1s ease;
}

.hero__buttons--learn:hover,
.hero__buttons--signup:hover {
  background: rgb(7, 21, 0);
}

.hero__buttons--login {
}
