.hero {
  height: 100vh;
  padding-top: 80px;
}

.hero__frame {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 64px 0;
  max-height: 800px;
  height: 100%;
  background: url("../public/herobg.jpg") no-repeat top center/cover;
}

.hero__frame--h1 {
  color: #8e98ac;
  text-align: center;
  font-size: 2.1em;
  font-weight: 300;
  margin-top: 24px;
  text-shadow: 0px 6px 10px black;
}

.hero__interactive {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 440px;
  justify-content: center;
}

.email__form {
  position: relative;
  max-width: 28rem;
  text-align: center;
}

.email__input {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-right: 12rem;
  width: 100%;
  border-radius: 9999px;
  border: 2px solid #fff;
  /* box-shadow: 0px -3px 7px 1px #000413; */
  background-color: rgba(0, 0, 0, 0.25);
  padding-left: 2rem;
  font-weight: 500;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 300ms;
}

.email__input::placeholder {
  color: #fff; /* Replace #yourColor with the color you want */
  opacity: .5;
}

.email__input:hover {
  /* border-color: #585e6b; */
  background-color: rgb(0, 0, 0, 0.4);
}

.email__input:focus {
  background-color: rgb(0, 0, 0, 0.75);
  /* border-color: rgb(0, 0, 0); */
  outline: transparent solid 2px;
  outline-offset: 2px;
}

.started__button {
  position: absolute;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 10rem;
  line-height: 1;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  border: 2px solid white;
  background-color: rgb(144, 156, 181, 0);
  /* box-shadow: -1px -3px 8px 1px #000413; */
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 700;
}

/* .bai__button--hover {
  transition: all 300ms ease;
}

.bai__button--hover:hover {
  background-color: white;
  color: black;
}

.bai__button--focus:focus {
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
  /* scale: .975; */
/* } */

.hero__buttons--learn {
  margin: 15px 0px;
  padding: 15px 55px;
  font-size: 24px;
  font-weight: 500;
  border: 2px solid #fff;
  border-radius: 99px;
  background-color: rgba(0, 0, 0, 0.25);
  color: #fff;
  transition: all 0.1s ease;
}

/* .hero__buttons--learn:hover {
} */
